.grid{
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(1, minmax(0,1fr));
  margin-top: 20px;
}

@media (min-width: 720px){
  .grid{ grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1024px){
  .grid{ grid-template-columns: repeat(4, 1fr); }
}

.container {
  
  min-height: 100vh;
  background: linear-gradient(135deg, #6f91c9 0%, #624da3 50%, #26255f 100%);
  padding: 30px;
  font-family: 'Arial', sans-serif;
  padding: 3rem 2rem;
  color: #fff;
  text-align: center;

  /* Sombras para resaltar */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.section-subtitle {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
